<article class="message is-info"  style="border: 1px solid #444;" >
  <div class="message-header" style="border-bottom: 1px solid #777;">
    {{name}}
  </div>
  <div class="message-body">
    
  </div>
</article>