<div>
    <div class="tags has-addons">
        <sb-t class="tag" ns="cep" key="{{property}}" placeholder="{{property}}"></sb-t>
        <span class="tag is-primary">{{t-operator operator}}</span>
        <span class="tag is-secondary">{{value}}</span>
    </div>
</div>